# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
**/__pycache__/
settings_local.py
settings_prod.py
.env.dev
.env.prod
.env
.env.*
venv/
production/output/*.conf
production/output/*.service
production/output/*.sh
.env.prod.db
cache/
.cache/
.venv/
result
