asgiref==3.9.1
Django==5.2.6
django-appconf==1.1.0
django-compressor==4.4
django-debug-toolbar==6.0.0
django-htmx==1.25.0
django-modeltranslation==0.19.17
django-pandas==0.6.7
gunicorn==23.0.0
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pillow==11.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
rcssmin==1.1.1
rjsmin==1.2.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
