<div id="{{ page_obj.number }}" class="subcontainer">
{% for image in images %}
    <div class="text-item" data-id="{{ image.id }}" onclick='showModal({{ image.id }}, "{{ image.file.url }}", "{{ image.note }}")'>
        {{ image.note }}
    </div>
{% endfor %}

    <!-- Load more trigger with HTMX -->
    <div class="load-more-trigger"
        hx-trigger="revealed"
        hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}{% if request.GET.search_query %}&search_query={{ request.GET.search_query }}{% endif %}"
        hx-target="#text-items-container"
        hx-swap="beforeend"
        >
    </div>
</div>