{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Grore homepage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static '/images/js/htmx.min.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">

    <form method="get" action="{% url 'home' %}" class="form-inline search-form">
        {% csrf_token %}
        {{ search_form.as_p }}
        {# <button type="submit"><i class="fa fa-search"></i></button> #}
    </form>
    {% if search_form.is_bound and search_form.search_query.errors %}
        <p class="error">{{ search_form.search_query.errors }}</p>
    {% endif %}

    <div class="row">
        {% include 'images/list.html' with images=images %}
    </div>
</div>

{% endblock %}