{% load static %}
<div class="text-container htmx"
    hx-trigger="revealed"
    hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}{% if request.GET.search_query %}&search_query={{ request.GET.search_query }}{% endif %}"
    hx-swap="afterend"
>
    {% for image in images %}
    <div class="text-item" data-id="{{ image.id }}" onclick="showModal({{ image.id }}, '{{ image.image_url }}')">
        {{ image.note }}
    </div>
    {% endfor %}
</div>

<!-- Modal Structure -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" alt="Selected Image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="selectButton" data-selected="false" data-image-id="">Select Image</button>
                <a id="downloadButton" class="btn btn-secondary" href="" download style="display: none;">Download Image</a>
            </div>
        </div>
    </div>
</div>
