{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/images/css/style.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'images/js/htmx.min.js' %}" defer></script>
    <script type="module" src="{% static 'images/js/selection.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% translate "Your Image Selection" %}</h1>

    <div>
        {% if request.session.selected_images and request.session.selected_images|length > 0 %}
            <a href="{% url 'download_images' %}" class="btn btn-dark">{% translate "Download zip" %}</a>
            <table class="image-gallery table">
                <thead>
                </thead>
                <tbody 
                    hx-confirm={% translate "Delete?" %}
                    hx-target="closest tr" 
                    hx-swap="outerHTML"
                    data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                >
                {% for image in images %}
                <tr id="{{ image.id }}" class="image-item">
                    <td class="align-middle">
                        <img class="img-thumbnail" src="{{ image.file.url }}" alt="{{ image.note }}">
                    </td>
                    <td class="align-middle">
                        {{image.note}}
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-light" hx-delete="{% url "delete_image_from_selection" image.id %}">
                            {% translate "Delete" %}
                        </button>
                    </td>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p id="no-images-message">{% translate "No images selected." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

