.navbar-header{
  display: flex;
}

.text-container {
  position: relative; /* Container should be relative */
  height: 100vh; /* Set a height for the container */
  overflow: hidden;
}

.text-item {
  position: absolute; /* Position items absolutely */
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.text-item:hover {
  background-color: #f0f0f0; /* Change background on hover */
  color: #007bff; /* Optional: Change text color on hover */
}