.navbar-header{
  display: flex;
}

.subcontainer {
  position: relative; /* Container should be relative */
  height: 100vh;
}

.text-item {
  position: absolute; /* Position items absolutely */
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
  height: 5vh;
  min-width:5wh;
  z-index: 1000;  
}

.text-item:hover {
  background-color: #f0f0f0; /* Change background on hover */
  color: #007bff; /* Optional: Change text color on hover */
}