body{
  width: 100vw;
  overflow-x: hidden;
}
.navbar-header{
  display: flex;
}

.subcontainer {
  position: relative; /* Container should be relative */
  height: 110vh;
}

.text-item {
  position: absolute; /* Position items absolutely */
  cursor: pointer;
  margin: 10px;
  min-width: 10vh;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.text-item:hover {
  color: #007bff; /* Optional: Change text color on hover */
}

.navbar{
  width: 100vw;
  padding: 1rem;
}

.navbar-nav{
  margin-right: auto;
}

.modal-body{
  text-align: center;
}
.modal-content{
  border-radius: 0;
}

.modal-header, .modal-body, .modal-footer{
  border: 0;
}

#imageNote{
  color: black;
  margin-top: 2rem;
}

.img-thumbnail{
  width: 5rem;
  height: 5rem;
  display: block;  /* Makes the image a block element for centering */
  margin: 0 auto; /* Center the image */
}

#content{
  margin-top: 5rem;
}

#imageModal{
  width: 100vw;
  height: 100vh;
}