{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
    {% block javascript %}{% endblock %}
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{% trans 'home' %}</a>
                <a class="navbar-brand" href="{% url 'pages' slug='info' %}">{% trans 'info' %}</a>
                <a class="navbar-brand" href="{% url 'pages' slug='legal-advice' %}">{% trans 'legal advice' %}</a>
                <a class="navbar-brand" href="{% url 'selection' %}">{% trans 'my selection' %}</a>
                {% block searchbar %}{% endblock %}
                {% block language_switch_form %}
                <div class="navbar-brand">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    {# <input type="submit" value="Go"> #}
                </form>
                </div>
                {% endblock %}
            </div>
            {# {% block search_form %}{% endblock %} #}
        </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>